@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="text-center text-dark">Prueba de Programación</h2>
    <hr />
    <h4>Indicaciones:</h4>
    <div>
        <ol>
            <li>
                <p>
                    Crear sistema que tenga un mantenimiento de tipo de cliente.
                </p>
            </li>
            <li>
                <p>
                    Crear un mantenimiento de cliente.
                </p>
            </li>
            <li>
                <p>
                    Una factura donde se inyecte como dependencia el header de la factura al detalle y el detalle complete los totales o
                    hacer que los detalles actualicen los totales con un delegado.
                </p>
            </li>
            <li>
                <p>
                    Utilizar patrón MVC, MVP o MVVM.
                </p>
            </li>
            <li>
                <p>
                    Subir ejemplo con el script de la base de datos a Github.
                </p>
            </li>
        </ol>
    </div>
    <br />
    <br />
    <div class="align-content-end">
        <p>Edwin Isidro Tejada Rodriguez</p>
        <p>edwintejadar@gmail.com</p>
    </div>
</div>
